<?xml version="1.0"?>
<config>
    <modules>
        <VJTemplates_FeaturedVertCarousel>
            <version>1.0.0</version>
        </VJTemplates_FeaturedVertCarousel>
    </modules>
    <frontend>
        <routers>
            <featuredvertcarousel>
                <use>standard</use>
                <args>
                    <module>VJTemplates_FeaturedVertCarousel</module>
                    <frontName>featuredvertcarousel</frontName>
                </args>
            </featuredvertcarousel>
        </routers>
        <layout>
            <updates>
                <featuredvertcarousel>
                    <file>vjtemplates/featuredvertcarousel.xml</file>
                </featuredvertcarousel>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <featuredvertcarousel>
                <class>VJTemplates_FeaturedVertCarousel_Model</class>
            </featuredvertcarousel>
        </models>
        <blocks>
            <featuredvertcarousel>
                <class>VJTemplates_FeaturedVertCarousel_Block</class>
            </featuredvertcarousel>
        </blocks>
        <helpers>
            <featuredvertcarousel>
                <class>VJTemplates_FeaturedVertCarousel_Helper</class>
            </featuredvertcarousel>
        </helpers>
    </global>
</config>